/* Header */
body{
    background-color: #f9f9f9;
    font-family: 'Gothic A1', arial, sans-serif;
    display: flex;
    flex-direction: row;

}

.navbar{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: white;
}

@media screen and (max-width: 767px) {

    .navbar{
        padding-left: 0;
    }
    
    }


.brand-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.selected-div{
    margin-right: 10px;
    padding: 10px;
    background-color: transparent;
}

.selected-div:hover{
    background-color: #e7e7e7;
    border-radius: 50%;
}

.icons{
    width: 25px;
}
@media screen and (max-width: 767px) {

    .disapear{
        display: none;
    }
    
    }


.logo{
    width: 100px;
}

.search-bar{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.search-term{
    padding: 5px;
    height: 35px;
    width: 500px;
    border-top: 1px solid #cccccc;
    border-right: none;
    border-bottom: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

@media screen and (max-width: 991px) {
    .search-term {
        width: 400px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .search-term {
        width: 200px;
    }
  }
  
  @media screen and (max-width: 479px) {
    .search-term {
        width: 50px;
    }
  }

.search-button{
    padding: 5px;
    height: 35px;
    width: 70px;
    background-color: #f0f1f0;
    border: 1px solid #cccccc;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.search-icon{
    width: 15px;
}

.profile-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

@media screen and (max-width: 767px) {

    .profile-icons{
        display: none;
    }
    
    }

.video-icon{
    width: 30px;
}

.notification-icon{
    height: 20px;
}

.profile-div{
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 20px;
    margin-left: 20px;
}

.profile{
    height: 30px;
}

/* Channel */
.channel{
    margin-top: 70px;
    width: 20%;
    height: calc(100vh - 70px);
    overflow: scroll;
    background-color: white;
}

@media screen and (max-width: 991px) {
    .channel {
        width: 40%;
    }
  }

  @media screen and (max-width: 767px) {
    .channel {
        width: 20%;
    }
  }

.first-section-channel{
    border-bottom: 2px solid #f0f1f0;
    padding-bottom: 10px;
}

.nav-channel{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 35px;
}

.nav-channel:hover{
    background-color: #f0f1f0;
}

.active-channel{
    background-color: #e5e5e5;
}

.active-channel:hover{
    background-color: #e5e5e5;
}

.titles-channel{
    margin-left: 30px;
    margin-bottom: 1px;
}


  @media screen and (max-width: 767px) {
    .titles-channel {
        display: none;
    }
  }
  

.section-title{
    text-transform: uppercase;
    color: #606060;
    margin-left: 30px;
}

@media screen and (max-width: 767px) {
    .section-title {
        display: none;
    }
  }


.channel-img{
    width: 30px;
    border-radius: 50%;
}

/* Video Section */
.no-margin-padding{
    padding: 0;
    margin: 0;
}

.video-section{
    margin-top: 70px;
    margin-left: 50px;
    padding-top: 20px;
    width: 80%;
    height: calc(100vh - 70px);
    overflow: scroll;
}

@media screen and (max-width: 991px) {
    .video-section {
        width: 60%;
    }
  }

  @media screen and (max-width: 767px) {
    .video-section {
        width: 80%;
    }
  }


.suggestions{
    color: #222222;
    margin-left: 20px;
    font-size: 20px;
    margin-bottom: 20px;
}

.video-div{
    padding-right: 0px;
    padding-left: 0px;
    margin-bottom: 40px;
}

.video-hover{
    position: relative;
    overflow: hidden;
    height: 250px;
    width: 98%;
    background-color: #f0f1f0;
}

.jordan{
    background: url(../img/jordan-win.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.kobe{
    background: url(../img/kobe-win.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.lebron{
    background: url(../img/lebron-win.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#myVideo {
    opacity: 0%;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    transition: 1s ease-in-out;
  }

  #myVideo:hover {
    opacity: 100%;
  }

  .text-container{
      width: 100%;
  }

  .title-video{
    color: #222222;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0px;
}

.channel-name{
    color: #606060;
    margin-left: 65px;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.bottom-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
}